@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}

.text-gradient {
  background: linear-gradient(to right, #60a5fa, #06b6d4); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.cursor-remove {
  cursor: none;
}

.glow-overlay {
  --glow-size: 18rem;
  position: absolute;
  opacity: var(--glow-opacity, 0);
  mask: radial-gradient(
    var(--glow-size) var(--glow-size) at var(--glow-x) var(--glow-y),
    var(--glow-color) 1%,
    transparent 50%
  );
  background: radial-gradient(
    circle at var(--glow-x) var(--glow-y),
    var(--glow-color) 1%,
    transparent 100%
  );
  transition: 400ms mask ease;
  will-change: mask;
}

/* .glow-overlay {
  --glow-size: 25rem;
  position: absolute;
  inset: 0;
  pointer-events: none;
  user-select: none;
  opacity: var(--glow-opacity, 0);
  mask: radial-gradient(
    var(--glow-size) var(--glow-size) at var(--glow-x) var(--glow-y),
    var(--glow-color) 1%,
    transparent 50%
  );
  background: radial-gradient(
    circle at var(--glow-x) var(--glow-y),
    var(--glow-color) 1%,
    transparent 50%
  );
  transition: 400ms mask ease;
  will-change: mask;
} */


@keyframes glowing-shadow {
  0% {
    box-shadow: 0 0 20px 10px rgba(240, 171, 252 ,0.8);
  }

}

.animate-glowing-shadow {
  animation: glowing-shadow 3s infinite ease-in-out;
}